.nodata{
		padding-top: 300rpx;
		min-height: 100%;
		text-align: center;
		color: #fff;
		image{
			width: 750rpx;
			height: 460rpx;
		}
}
.light-index{
	background: #fff !important;
}
.light-index-fff{
	color: #333 !important;
}